





<!-- candidatessection.component.html -->
<div class="body">
  <div class="container">
    <div class="jobs-row">
      <div class="job-box" *ngFor="let item of jobResumes">
        <h3>{{ item.jobTitle }}</h3>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Company: </span>{{ item.companyName }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Experience: </span>{{ item.experience }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Skills: </span>{{ item.skills }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Positions: </span>{{ item.positions }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Qualification: </span>{{ item.qualification }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">PostedDate: </span>{{ item.postedDate | date }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">EndDate: </span>{{ item.endDate | date}}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Salary: </span>{{ item.salary }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Job Type: </span>{{ item.jobType }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Location: </span>{{ item.location }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Job Description: </span>{{ item.jobDescription }}</p>
        <p>
          <button type="button" class="btn btn-primary mr-1" (click)="openResumesPopup(item)">
            View Applicants
          </button>
        </p>
      </div>
    </div>
  </div>

 


  <div id="popup-form" class="popup-overlay" [ngClass]="{ 'show': showResumesPopup }">
  
    <div class="popup-content">
      <span class="close-icon" (click)="closeResumesPopup()">&times;</span>
      <h2 style="text-align: center;">Applicants Details</h2>
     
      <table>
   
        <tr>
          <th class="table-header">S.No</th>
          <th class="table-header">Name</th>
          <th class="table-header">Email</th>
          <th class="table-header">Download Resume</th>
          <th class="table-header">Status</th>
          <th *ngIf="!selectedResumes[0]?.isStatusSelected" class="table-header">Schedule Meeting</th>
          <th *ngIf="!selectedResumes[0]?.isStatusSelected" class="table-header">Reject</th>
         
        </tr>
        <ng-container *ngFor="let resume of selectedResumes; let i = index">
          <tr *ngIf="i < itemsPerPage * (currentPage - 1) + itemsPerPage && i >= itemsPerPage * (currentPage - 1)">
          <td>{{ i + 1 }}</td> 
          <td>{{resume.applicantName}}</td>
       
          <td>{{ resume.applicantEmail }}</td>
           <td>
            <svg   (click)="downloadResume(resume)" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
          </td>
        <!-- <td> {{ getFormattedStatus(resume) }}</td> -->
         
        <td>
          <ng-container *ngIf="isDateFormatted(getFormattedStatus(resume)); else defaultContent">
            {{ getFormattedStatus(resume) | date:'MMM dd yyyy' }}
          </ng-container>
          <ng-template #defaultContent>
            {{ getFormattedStatus(resume) }}
          </ng-template>
        </td>
        
          <td *ngIf="!resume.isStatusSelected" [ngClass]="{'disabled-cell': resume.isStatusSelected}">
            <input type="date" [(ngModel)]="meetingDates[resume.resumeId]" [min]="getMinMeetingDate()" [max]="getMaxMeetingDate()" />
            <i class="fa fa-calendar icon-button" (click)="scheduleMeeting(resume)" title="Schedule Meeting"></i>
          </td>
        
          <td *ngIf="!resume.isStatusSelected" [ngClass]="{'disabled-cell': resume.isStatusSelected}">
            <div class="input-icon-container">
              <input type="text" [(ngModel)]="rejectionReasons[resume.resumeId]" placeholder="Enter Rejection Reason" class="input-box" />
              <i class="fa fa-times-circle icon-button reject-icon" (click)="rejectResume(resume)" title="Reject"></i>
            </div>
          </td>
          
        </tr>
      </ng-container>
      </table>
      <div class="pagination">
        <button (click)="changePage(-1)">Previous</button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button (click)="changePage(1)">Next</button>
      </div>
    </div>
  </div>
</div>


