





<!-- candidatessection.component.html -->
<div class="body">
  <div class="container">
    <div class="jobs-row">
      <div class="job-box" *ngFor="let item of jobResumes">
        <h3>{{ item.jobTitle }}</h3>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Company: </span>{{ item.companyName }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Experience: </span>{{ item.experience }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Skills: </span>{{ item.skills }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Job Type: </span>{{ item.jobType }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Location: </span>{{ item.location }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Job Description: </span>{{ item.jobDescription }}</p>
        <p>
          <button type="button" class="btn btn-primary mr-1" (click)="openResumesPopup(item)">
            View Applicants
          </button>
        </p>
      </div>
    </div>
  </div>

 


  <div id="popup-form" class="popup-overlay" [ngClass]="{ 'show': showResumesPopup }">
    <div class="popup-content">
      <h2 style="text-align: center;">Applicants' Details</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Resume</th>
          <th>status</th>
       
        <th *ngIf="!selectedResumes[0]?.isStatusSelected">Schedule Meeting</th>
  <th *ngIf="!selectedResumes[0]?.isStatusSelected">Reject</th>
        </tr>
        <tr *ngFor="let resume of selectedResumes">
          <td>{{resume.applicantName}}</td>
       
          <td>{{ resume.applicantEmail }}</td>
           <td>
            <button type="button" class="btn btn-primary" (click)="downloadResume(resume)">Download Resume</button>
          </td>
        <td> {{ getFormattedStatus(resume) }}</td>
         
         
          <td>
            <input *ngIf="!resume.isStatusSelected" type="datetime-local" [(ngModel)]="meetingDates[resume.resumeId]" [min]="getMinMeetingDate()" [max]="getMaxMeetingDate()" />
            <button *ngIf="!resume.isStatusSelected" type="button" class="btn btn-primary" (click)="scheduleMeeting(resume)">Schedule</button>
          </td>
          <td>
         
          </td>
        
          <!-- Show/hide rejection input and button -->
          <td>
            <input *ngIf="!resume.isStatusSelected" type="text" [(ngModel)]="rejectionReasons[resume.resumeId]" placeholder="Enter Rejection Reason" />
            <button *ngIf="!resume.isStatusSelected" type="button" class="btn btn-danger" (click)="rejectResume(resume)">Reject</button>
          </td>
          <td>
           
          </td>
        </tr>
      </table>
      <div class="form-buttons">
        <button type="button" class="btn btn-danger" (click)="closeResumesPopup()">Close</button>
      </div>
    </div>
  </div>
</div>


