<div class="container">
  <ng-container *ngFor="let jobResume of jobResumes">
    <div class="job-details">
      <h3>
        Job Details
        <span class="toggle-icon" (click)="toggleResumes(jobResume)">
          {{ jobResume.showResumes ? '-' : '+' }}
        </span>
      </h3>
      <table class="table table-success table-striped" style="font-size: 16px;">
        <thead>
          <tr>
            <th>Job ID</th>
            <th>Company Name</th>
            <th>Position Title</th>
            <th>Experience</th>
            <th>Skills</th>
            <th>Job Type</th>
            <th>Posted Date</th>
            <th>Location</th>
            <th>Job Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ jobResume.jobId }}</td>
            <td>{{ jobResume.companyName }}</td>
            <td>{{ jobResume.jobTitle }}</td>
            <td>{{ jobResume.experience }}</td>
            <td>{{ jobResume.skills }}</td>
            <td>{{ jobResume.jobType }}</td>
            <td>{{ jobResume.postedDate }}</td>
            <td>{{ jobResume.location }}</td>
            <td>{{ jobResume.jobDescription }}</td>
          </tr>
        </tbody>
      </table>

      <div [ngClass]="{'applicants-resumes': true, 'active': jobResume.showResumes}">
        <h3>Applicants' Resumes</h3>
        <table>
          <tr>
            <th>Applicant Name</th>
            <th>Email</th>
            <th>Resume</th>
          </tr>
          <tr *ngFor="let resume of jobResume.resumes">
            <td>{{ resume.applicantName }}</td>
            <td>{{ resume.applicantEmail }}</td>
            <td>
              <a [href]="'data:application/octet-stream;base64,' + resume.resumeFileData"
                 [download]="resume.resumeFileName">Download Resume</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </ng-container>
</div>

