
 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 </head>
 <body>
  <div class="container-fluid">
    
    <div class="row">

      <div class="col-2">
        <nav class="navbar navbar-light">
          <ul class="navbar-nav flex-column">
            <div class="sidebar-image">
              <img src="https://play-lh.googleusercontent.com/7y6gd1TKP4skySj-zI3KUs9uw9bpC99EOQNKa6BefSUHzzesFpIex3pDXWCCDTYywLM" class="image"/>
            </div>
            <li class="nav-item">
              <a class="nav-link size" routerLink="/app-dashboard/jobspage" style="color: white;">Jobs section</a>
            </li>
            <li class="nav-item">
              <a class="nav-link size" routerLink="/app-dashboard/app-applied" style="color: white;">Applied Jobs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link size" routerLink="/app-dashboard/jobspage" style="color: white;">Jobs section</a>
            </li>
            <li class="nav-item">
              <a class="nav-link size" routerLink="/app-dashboard/app-applied" style="color: white;">Applied Jobs</a>
            </li>
          </ul>
        </nav>
        
        <div class="mt-auto">
          <a  class="nav-link px-3 cursor-pointer sign-button" (click)="logout()">Sign out</a>
        </div>
      </div>
    
      <div class="col-10 p-0">
        <router-outlet></router-outlet>
      
      </div>
    </div>
  </div> 
  
 </body>
 </html>
  