// html,body {
//     height: 100vh;
//     margin: 0;
//     padding: 0%;
//     background-color: #2B3467;
  
//   }
//   .body{
//     height: 100vh;
//     display: flex;
//     margin: 0;
//     padding: 0;
//     width: auto;
//     background-color: #2B3467;
//   }
  
  // .container {
  //   display: flex;
  //   height: 100%;
  // }

  
  // .sidebar {
  //   background: red;
  //   padding: 20px;
  //   width: 25%;
    
  // }
  
  // .sidebar nav ul {
  //   list-style: none;
  //   padding: 0;
  //   margin: 0;
  // }
  
  // .sidebar nav ul li {
  //   margin-bottom: 10px;
  // }
  
  // .sidebar nav ul li a {
  //   text-decoration: none;
  //   color: #333;
  // }
  
  // .content {
  //   background: red;
  //   padding: 20px;
  //   width: 75%;
  //   overflow-y: scroll;
  // }
  
  // .headings {
  //   margin-bottom: 20px;
  // }
  
  // h2 {
  //   margin-top: 0;
  // }
  
  // .navbar-nav.flex-column {
  //   flex-direction: column;
  // }
  // .image{
  //   height: 280px;
  //   width: 200px;
  //   padding: 10px;
  //   margin-left: 20px;
  // }
  // .size{
  //   font-size: 30px;
  //   margin-left: 20px;
  // }
  
  .sign-button{
    background: #9A1663; 
    color: #fff; 
    border-radius: 10px 4px 12px 6px; 

    margin: 10px; 
    justify-content: end; 
 
    font-size: 15px;
    text-align: center;
  }



// .navbar {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   background-color: #f8f8f8;
//   padding: 10px;
//   z-index: 9999;
// }
