<!-- 
 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 </head>
 <body>
  <div class="container-fluid">
    
    <div class="row">

      <div class="col-2">
        <nav class="navbar navbar-light">
          <ul class="navbar-nav flex-column">
            <div class="sidebar-image">
              <img src="https://play-lh.googleusercontent.com/7y6gd1TKP4skySj-zI3KUs9uw9bpC99EOQNKa6BefSUHzzesFpIex3pDXWCCDTYywLM" class="image"/>
            </div>
            <li class="nav-item">
              <a class="nav-link size" routerLink="/app-dashboard/jobspage" style="color: white;">Jobs section</a>
            </li>
            <li class="nav-item">
              <a class="nav-link size" routerLink="/app-dashboard/app-applied" style="color: white;">Applied Jobs</a>
            </li>
      
          </ul>
        </nav>
        
        <div class="mt-auto">
          <a  class="nav-link px-3 cursor-pointer sign-button" (click)="logout()">Sign out</a>
        </div>
      </div>
    
      <div class="col-10 p-0">
        <router-outlet></router-outlet>
      
      </div>
    </div>
  </div> 
  
 </body>
 </html>
   -->


   <nav class="navbar navbar-expand-lg navbar-light  sticky-top"  style="background-color: #5b3953;">
    <a class="navbar-brand" style="color: white; font-size: 20px;">Online jobs portal</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" style="color: white; font-size: 20px;" routerLink="/app-dashboard/app-home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-dashboard/jobspage" style="color: white; font-size: 20px;">Jobs section</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/app-dashboard/app-applied" style="color: white; font-size: 20px;">Saved Jobs</a>
        </li>
</ul>

</div>
<ul class="nav justify-content-end">
<h2 style="color: white;">Hello {{fullName}}</h2>
<li class="nav-item">
  <a  class="nav-link px-3 cursor-pointer sign-button" (click)="logout()">Sign out</a>
 </li>
</ul>

  </nav>


  <router-outlet></router-outlet>

<!-- Footer -->
<footer class="text-center text-lg-start  text-muted bg-body-tertiary" style="background-color: rgb(37, 33, 36);">
 
  <!-- Section: Links  -->
  <section>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Online Jobs Portal
          </h6>
          <p>
            Jobs portal where everything gets at one place
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
         
        </div>
     

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
       
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i>Hanmakonda , TS, IND</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

 
</footer>
<!-- Footer -->





