

.sign-button{

  background: #aadee8;  

  color: hsl(0, 24%, 94%);

  border-radius: 10px 4px 12px 6px;

 

  
  margin-left:10px; 


  justify-content: end;

 

  font-size: 20px;

  text-align: center;

 

}

 

 

 

.navbar {

  background-color: #333;

}

 

.navbar-nav {

  display: flex;

  justify-content: space-between;

  align-items: center;

  list-style-type: none;

  margin: 0;

  padding: 0;

}

 

.nav-item {

  margin-right: 20px; /* Adjust the margin value as needed */

}

 

.nav-link {

  color: white;

  font-size: 20px;

  text-decoration: none;

  padding: 8px 12px;

  border-radius: 4px;

}

 

.nav-link:hover {

  background-color: #b8abab;

}

 

.nav-link.active {

  background-color: #dccfcf;

  font-weight: bold;

}