

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 
</head>

<body>
 

  <div class="body">
    <div class="container">
<div class="jobs-row">
      <div class="job-box" *ngFor="let item of jobsList | slice:(currentPage - 1) * itemsPerPage:currentPage * itemsPerPage">
        <h3>{{ item.jobTitle }}</h3>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Company: </span> {{ item.companyName }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Experience: </span> {{ item.experience }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Skills: </span>{{ item.skills }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Job Type: </span>{{ item.jobType }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Location: </span>{{ item.location }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Job Description: </span> {{ item.jobDescription }}</p>
        <p>
          <button id="uploadBtn" (click)="showUploadPopup()" style="margin-right: 3px;" class="btn btn-secondary highlight-button">Upload Resume</button>
          <button *ngIf="!item.applied" (click)="apply(item)" class="btn btn-primary highlight-button">Apply</button>
          <span *ngIf="item.applied" class="btn btn-success">Applied</span>
          <!-- <button (click)="downloadResume(item.resumeId)">download</button> -->
          <button (click)="downloadResume(item?.resume?.resumeId)">Download</button>
        
        </p>
      </div>
    </div>
    
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
            <button class="page-link buttons" tabindex="-1" (click)="previousPage()">Previous</button>
          </li>
        
          <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
            <button class="page-link buttons" (click)="nextPage()">Next</button>
          </li>
        
        </ul>
      
      </nav>
      <h5 style="text-align: center;">Page: {{ currentPage }} of {{ totalPages }}</h5>
    </div>
  </div>
 
  <div id="uploadPopup" class="popup" [ngClass]="{ 'active': showUploadPopupFlag }">
    <div class="popup-content upload">
      <h3 class="head">Upload Your Resume</h3>
      <input type="file" #resumeInput id="resumeInput">
      <div class="popup-buttons">
        <button (click)="cancelUploadPopup()" class="button">Cancel</button>
        <button (click)="saveResume(resumeInput)" class="savebtn">Save</button>
      
     
      </div>
    </div>
  </div>




</body>

</html>
