


<!-- <div class="filter-toggles">
  <label for="filter">Select Filter:</label>
  <select id="filter" [(ngModel)]="filterOption" (change)="getFilteredAchievements()">
    <option value="lastWeek">Last Week</option>
    <option value="lastMonth">Last Month</option>
    <option value="lastYear">Last Year</option>
  </select>
</div> -->

<div class="top-section">
  <app-jobsdata ></app-jobsdata>
</div>
<!-- <div class="middle-section">
  <div class="widget left">
  
    <div class="table-responsive">
      <app-recentapplicants></app-recentapplicants>
    </div>
  </div>
  
</div> -->

  
  
    
    


<div [ngClass]="{'hide-footer': isClientHomeComponent}">
<!-- Your content for the "ClientHomeComponent" goes here -->
</div>


