<p>linechart works!</p>
<div class="chart-wrapper">
    <canvas baseChart width="1000" height="350" type="line" [data]="lineChartData"></canvas>
</div>
<!-- <div class="chart-wrapper">

    <canvas baseChart width="600" height="350" type="pie" [data]="pieChartData" [options]="pieChartOption"></canvas>
</div> -->
<!-- <div style="display: block">
    <canvas baseChart
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [legend]="lineChartLegend">
</canvas>
  </div> -->
  <!-- <div class="chart-wrapper">
    <div style="display: block;">
      <canvas baseChart
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [chartType]="'line'"></canvas>
    </div>
  </div>
   -->