.text-danger{
  font-size: 20px;
}


h3 {
  color: #020000;
  text-align: center;
 // margin-top: 20px;

}

.form-heading {
 font-weight: bold;
 border-bottom: 2px solid #333;
 padding-bottom: 5px;
 margin-bottom: 0%;
}

.form-heading-id,
.form-heading-company {
 border-right: 2px solid #333;
 padding-right: 10px;
 margin-right: 10px;
}

input[type="text"],
input[type="date"],
input[type="number"],
textarea {
 width: 100%;
 padding: 0%;
 border-radius: 10px;
 border: 1px solid #ccc;
  font-size: 25px;
}

input[type="text"]:focus,
input[type="date"]:focus,
textarea:focus {
 outline: none;
 border-color: rgb(0, 23, 80);
}

.button-container {
 text-align: center;
 margin-top: 20px;
}

button[type="submit"] {
 background-color: rgb(0, 191, 255);
 color: rgb(249, 247, 248);
 // font-weight: 500;
 border: none;
 padding: 12px 18px;
 border-radius: 5px;
 cursor: pointer;
 font-size: 20px;
}


.heading{
 font-weight: 500;
 font-size: 24px;
 
}
.fields{
padding: 150px;

}

.head{
text-align: center;
padding: 25px;
font-size: 50px;

}



body {


 background-color: #ebf6fb;
 
 background: -webkit-linear-gradient(to right, #cbe1e4, #e0dac1, #e4c3df);  
 background: linear-gradient(to right, #e7d0dc, #cbe3e2, #e6cbcb); 

 background: linear-gradient(to bottom, #c4dae2 0%, #e4c7d4 100%)
}




