<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  
  <div class="container">
    
    <form #contactForm="ngForm" (ngSubmit)="postcontact(contactForm.value)">
      <input type="text" placeholder="ENTER JOBID" name="jobId" ngModel>
      <input type="text" placeholder="ENTER COMPANY NAME" name="companyName" ngModel required>
      <input type="text" placeholder="Enter JOBTITLE" name="jobTitle" ngModel required>
      <input type="text" placeholder="Enter Experience" name="experience" ngModel required>
      <input type="text" placeholder="Enter Skills" name="skills" ngModel required>
      <input type="text" placeholder="Enter JOB TYPE" name="jobType" ngModel required>
    
      <input type="text" placeholder="Enter Location" name="location" ngModel required>
      <textarea placeholder="Enter JOB DESCRIPTION" name="jobDescription" ngModel required> </textarea>


      <button type="submit" [disabled]="!contactForm.valid" style="background-color: rgb(69, 156, 100);">Post Job</button>
    </form>
    <h1 *ngIf="istrue" style="color: green;">Job Posted Sucessfully</h1>
  </div>
  

</body>
</html>