// html, body {
//     height: 100vh;
    
//   padding: 0%;
//     background-color: lightgray;
//   }
  
//   .container {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
//   }


  
// .row{
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
  
// }
// .mar{
//   margin-left: 50px;
// }
  
//   form {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//   }
  
//   input {
//     margin-bottom: 10px;
//     width: 300px;
//     padding: 10px;
//     font-size: 16px;
//   }


//   .total{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//   }
  
  
//   button {
//     padding: 10px 20px;
//     font-size: 16px;
//   }
html, body {

  // height: 100vh;

 

padding: 0%;

  background-color: lightgray;

}



.container {

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  height: 100vh;

}



form {

  display: flex;

  flex-direction: column;

  align-items: center;

}



input {

  margin-bottom: 10px;

  width: 300px;

  padding: 10px;

  font-size: 16px;

}



button {

  padding: 10px 20px;

  font-size: 16px;

}




body {

  display: flex;

  justify-content: center;

  align-items: center;

  // height: 100vh;

  background-image: url('https://www.shrednations.com/wp-content/uploads/Clean-Desks-are-Professional.jpg'); 

  background-size: cover;

  background-repeat: no-repeat;

}




.form-container {

  width: 800px;

  padding: 20px;

  background-color: #ffffff;

  // background-color: rgba(255, 255, 255, 0.8);

  border-radius: 10px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}