
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 

</head>
<body>
  <h2 class="head">POST JOB</h2>
  <div class="fields">
    <form [formGroup]="jobForm" (ngSubmit)="postcontact()">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="companyName" class="heading">COMPANY NAME</label>
            <input type="text" class="form-control large-input" placeholder="Enter Company Name" formControlName="companyName">
            <small *ngIf="jobForm.get('companyName')!.invalid && (jobForm.get('companyName')?.dirty || jobForm.get('companyName')!.touched)" class="text-danger">*Company Name is required*</small>
            <small *ngIf="jobForm.get('companyName')?.hasError('alphabeticOnly') && (jobForm.get('companyName')?.dirty || jobForm.get('companyName')?.touched)"
              class="text-danger">*Company Name must contain alphabetic characters*</small>

          </div>
          <div class="form-group">
            <label for="jobTitle" class="heading">JOB TITLE</label>
            <input type="text" class="form-control large-input" placeholder="Enter Job Title" formControlName="jobTitle">
            <small *ngIf="jobForm.get('jobTitle')!.invalid && (jobForm.get('jobTitle')?.dirty || jobForm.get('jobTitle')!.touched)" class="text-danger">*Job Title is required*</small>
            <small *ngIf="jobForm.get('jobTitle')?.hasError('alphabeticOnly') && (jobForm.get('jobTitle')?.dirty || jobForm.get('jobTitle')?.touched)"
              class="text-danger">*jobTitle must contain alphabetic characters*</small>
          </div>
          <div class="form-group">
            <label for="experience" class="heading">EXPERIENCE</label>
            <input type="text" class="form-control large-input" placeholder="Enter Experience" formControlName="experience">
            <small *ngIf="jobForm.get('experience')!.invalid && (jobForm.get('experience')?.dirty || jobForm.get('experience')!.touched)" class="text-danger">*Experience is required*</small>
          </div>
          <div class="form-group">
            <label for="skills" class="heading">SKILLS</label>
            <input type="text" class="form-control large-input" placeholder="Enter Skills" formControlName="skills">
            <small *ngIf="jobForm.get('skills')!.invalid && (jobForm.get('skills')?.dirty || jobForm.get('skills')!.touched)" class="text-danger">*Skills are required*</small>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="positions" class="heading">JOB POSITIONS</label>
            <input type="number" class="form-control large-input" placeholder="Enter Positions" formControlName="positions">
            <small *ngIf="jobForm.get('positions')!.invalid && (jobForm.get('positions')?.dirty || jobForm.get('positions')!.touched)" class="text-danger">*Positions are required*</small>
            <small *ngIf="jobForm.get('positions')?.hasError('pattern') && (jobForm.get('positions')?.dirty || jobForm.get('positions')?.touched)"
            class="text-danger">*Job Positions must be a positive number*</small>
          </div>
          <div class="form-group">
            <label for="jobType" class="heading">JOB TYPE</label>
            <input type="text" class="form-control large-input" placeholder="Enter Job Type" formControlName="jobType">
            <small *ngIf="jobForm.get('jobType')!.invalid && (jobForm.get('jobType')?.dirty || jobForm.get('jobType')!.touched)" class="text-danger">*Job Type is required*</small>
          </div>
          <div class="form-group">
            <label for="qualification" class="heading">QUALIFICATION</label>
            <input type="text" class="form-control large-input" placeholder="Enter Qualification" formControlName="qualification">
            <small *ngIf="jobForm.get('qualification')!.invalid && (jobForm.get('qualification')?.dirty || jobForm.get('qualification')!.touched)" class="text-danger">*Qualification is required*</small>
          </div>
          <div class="form-group">
            <label for="postedDate" class="heading">POSTED DATE</label>
            <input type="date" class="form-control large-input" formControlName="postedDate">
            <small *ngIf="jobForm.get('postedDate')!.invalid && (jobForm.get('postedDate')?.dirty || jobForm.get('postedDate')!.touched)" class="text-danger">*Posted Date is required*</small>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="endDate" class="heading">END DATE</label>
            <input type="date" class="form-control large-input" formControlName="endDate">
            <small *ngIf="jobForm.get('endDate')!.invalid && (jobForm.get('endDate')?.dirty || jobForm.get('endDate')!.touched)" class="text-danger">*End Date is required*</small>
            <small *ngIf="jobForm.get('endDate')?.hasError('dateComparison') && (jobForm.get('endDate')?.dirty || jobForm.get('endDate')?.touched)"
            class="text-danger">*End Date must be greater than Posted Date*</small>
          </div>
          <div class="form-group">
            <label for="salary" class="heading">SALARY</label>
            <input type="number" class="form-control large-input" placeholder="Enter Salary" formControlName="salary">
            <small *ngIf="jobForm.get('salary')!.invalid && (jobForm.get('salary')?.dirty || jobForm.get('salary')!.touched)" class="text-danger">*Salary is required*</small>
            <small *ngIf="jobForm.get('salary')?.hasError('pattern') && (jobForm.get('salary')?.dirty || jobForm.get('salary')?.touched)"
            class="text-danger">*Salary must be a positive number*</small>
          </div>
          <div class="form-group">
            <label for="location" class="heading">LOCATION</label>
            <input type="text" class="form-control large-input" placeholder="Enter Location" formControlName="location">
            <small *ngIf="jobForm.get('location')!.invalid && (jobForm.get('location')?.dirty || jobForm.get('location')!.touched)" class="text-danger">*Location is required*</small>
            <small *ngIf="jobForm.get('location')?.hasError('alphabeticOnly') && (jobForm.get('location')?.dirty || jobForm.get('location')?.touched)"
            class="text-danger">*Location must contain alphabetic characters*</small>
          </div>
          <div class="form-group">
            <label for="jobDescription" class="heading">DESCRIPTION</label>
            <textarea rows="3" class="form-control large-textarea" placeholder="Enter Description" formControlName="jobDescription"></textarea>
            <small *ngIf="jobForm.get('jobDescription')!.invalid && (jobForm.get('jobDescription')?.dirty || jobForm.get('jobDescription')!.touched)" class="text-danger">*Description is required*</small>
          </div>
          <div class="form-group">
            <label for="username" class="heading"></label>
            <input type="hidden" class="form-control large-input" placeholder="Enter Location" formControlName="username" [(ngModel)]="username">
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-12">
          <div class="button-container text-center">
            <button type="submit" class="btn btn-primary large-button" [disabled]="jobForm.invalid">Post Job</button>
          </div>
        </div>
      </div>
    
    </form>
   <h3 *ngIf="istrue">Job Posted Successfully</h3>
  </div>
 
 <!-- Bootstrap JS -->
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
</body>
</html>







