

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
</head>

<body>
 

  <div class="body">
    <div class="container">
<div class="jobs-row">
      <div class="job-box" *ngFor="let item of displayedAppliedJobs" (click)="viewJobDetails(item.jobId)" >
      
        <!-- <h1>{{item.jobId}}</h1> -->
        <h3>{{ item.jobTitle }}</h3>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Company: </span> {{ item.companyName }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Experience: </span> {{ item.experience }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Skills: </span>{{ item.skills }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Job Type: </span>{{ item.jobType }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Location: </span>{{ item.location }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Job Description: </span> {{ item.jobDescription }}</p>
        <button>click to view job status</button>
        <p *ngIf="showStatusMessage">Status: Waiting</p>
         <p *ngIf="item.rejectionReason ">Rejection Reason: {{ item.rejectionReason }}</p>
        <p *ngIf="item.scheduleMeetingDate ">Schedule Meeting Date: {{ item.scheduleMeetingDate   }}</p>
      
      </div>
    </div>
    
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
          <button class="page-link buttons" tabindex="-1" (click)="previousPage()">Previous</button>
        </li>
       
        <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
          <button class="page-link buttons" (click)="nextPage()">Next</button>
        </li>
      </ul>
    </nav>
    <h5 style="text-align: center;">Page: {{ currentPage }} of {{ totalPages }}</h5> 
  </div>
</div>

</body>

</html>





















