.buttons{
    background-color: rgb(75, 75, 184);
    color: white;
    border-radius: 4px;
    
    font-size: 20px;
}


.jobs-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .job-box {
  width: 280px; /* Set the desired width for each job box */
  height: 400px; /* Set the desired height for each job box */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}
  .job-box h3 {
    margin-top: 0;
  }

  .job-box p {
    margin-bottom: 5px;
  }

  .view-more {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }