<!-- <div class="chart-container" [chart]="chart"></div>


<table class="table">
    <thead>
      <tr>
        <th>S.NO</th>
        <th>Applicant Name</th>
        <th>Applicant Email</th>
        <th>Job Title</th>
        <th>Company Location</th>
        <th>Skills</th>
        <th>Application Date</th> 
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let applicant of recentApplicants; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ applicant.applicantName }}</td>
        <td>{{ applicant.applicantEmail }}</td>
        <td>{{ applicant.jobTitle }}</td>
        <td>{{ applicant.companyLocation }}</td>
        <td>{{ applicant.skills }}</td>
        <td>{{ applicant.applicationDate | date }}</td> 
      </tr>
    </tbody>
  </table>
  
  -->