.jobs-row {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    justify-content: center;
  }
  .job-box {
  width: 280px; 
  height: 300px; 
  border: 5px solid #ccc;
  padding: 10px;
  margin: 10px;
  
}
  .job-box h3 {
    margin-top: 0;
  }

  .job-box:hover{
   
      background-color: rgb(212, 180, 180);
    
  }

  .job-box p {
    margin-bottom: 5px;
  }
.heading{
    text-align: center;
}
.button{
   
    font-size: 30px;

}
.background{
    
        background-color: #f0e1b1;
       
    
}

.butt{
  text-align: center;
  padding: 30px;


}
  
.slideshow-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  background-color:#538cca;
  margin-top: 80px;
}

.testimonial-slide {
  display: none;


}


.testimonial-slide.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 
}
.testimonial-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.test-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
 
}


.in{
border-radius: 8px;
}

.testimonial-content {
  background-color: #fff;
  padding: 20px;
}


.testimonial-slide img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.testimonial-slide h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.heading{
  color: white;
  padding: 10px;
}

.carousel {
  width: 100%;
  height: 800px;
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.5s ease-in-out;
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.dot.active {
  background-color: #d39292;
}


//chat bot


.chatbox {

  position: relative;

}

#chatbot-window {

    position: fixed;

    bottom: 20px;

    right: 20px;

    width: 300px;

    height: 400px;

    border: 1px solid #ccc;

     //overflow-y: scroll;

    padding: 10px;

    display: none;

    margin-bottom: 35px; /* Add margin-bottom to create space */

 

 

  }

   #chatbot-window.show {

    display: block;

  }

 

  .message {

    margin-bottom: 10px;

   padding: 10px;

    border-radius: 4px;

    background-color: #f5c6c6;

  }

 

  .user {

    text-align: right;

    background-color: #eee;

  }

 

  .bot {

    text-align: left;

    background-color: #b7e0f2;

  }

 

  .user-input-container {

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    padding: 10px;

    background-color: #f7f3f3;

    border-radius: 5px;

    display: flex;

    justify-content: space-between;

    align-items: center;

  }

 

 

  #user-input-container.show {

    display: block;

  }

 

  #chatbot-icon {

    position: fixed;

    bottom: 20px;

    right: 20px;

    background-color: #6caceb;

    color: #f2e5e5;

    padding: 10px;

    border-radius: 50%;

    cursor: pointer;

  }

 

  .user-input-container input[type="text"] {

    flex-grow: 1;

    padding: 9px;

    border: none;

    border-radius: 5px;

    background-color: #fff;

    

  }




  .chatbot-close-icon {

    position: absolute;

    top: 10px;

    right: 10px;

    cursor: pointer;

    color: #17d3e1;

    width: 24px;

    height: 24px;

    background-color: #333333;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 2;

  }

 

  .chatbot-close-icon i {

    font-size: 16px;

    color: #fff;

  }

  .chatbot-header {

    display: flex;

    align-items: center;

    justify-content: space-between;

    // background-color: antiquewhite;

    padding: 5px;

    margin-bottom: 5px;

  }

 

  .chatbot-title {

    font-weight: bold;

  }

 

  .chatbot-close-icon {

    cursor: pointer;

  }

 

  .chat-messages {

    flex-grow: 1;

    overflow-y: auto;

      max-height: calc(100% - 50px);

  }




  .user-input-container .send-button {

    padding: 6px;

    margin-left: 10px;

    border: none;

    border-radius: 5px;

    background-color: #6caceb;

    color: #f2e5e5;

    cursor: pointer;

  }

 

  .user-input-container .send-button i {

    font-size: 18px;

  }

 

  .user-input-container .send-button:hover {

    background-color: #4287f5;

  }