// .body{
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     width: auto;
//     background-color: white;
//   }
  
//   .container {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
  
//   }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
  }


  .hidden {
    display: none;
  }
  


  
  
  /* Overlay styles */

  /* Styles for the pop-up form */
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
  }

  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #658fb1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .popup-overlay.show {
    display: block;
  }
  .form-buttons {
    margin-top: 10px;
    text-align: right;
  }