.jobs-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.job-box {
  width: 340px;
  /* Set the desired width for each job box */
  height: 540px;
  /* Set the desired height for each job box */
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}

.job-box h3 {
  margin-top: 0;
}

.job-box p {
  margin-bottom: 5px;
}

.view-more {
 
  cursor: pointer;
  text-decoration: underline;
}

.button-space {
  margin-left: 10px;
  /* Adjust the value as per your preference */
}
.thick-border

{

border: 3px solid #000000; 

}

.feilds {

border: 3px solid rgb(128, 126, 125);

margin-right: 20px;

}






  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
  }


  .hidden {
    display: none;
  }
  


  .popup-overlay.show {
    display: block;
  }
  .form-buttons {
    margin-top: 10px;
    text-align: right;
  }
  

 
  
  .highlighted {

    background-color:rgb(234, 128, 146);

    font-weight: bold;

  }

.border

  {

 border-color: black;

 width: 1300px;

  }

  .search-bar {

   position: relative;

  
  
 }

 .search-bar input[type="text"] {

   padding-right: 35px; /* Adjust the padding to create space for the icon */

 }




 .search-bar .clear-button {

   position: absolute;

   right: 10px; /* Adjust the right value to position the clear button */

   top: 50%;

   transform: translateY(-50%);

   border: none;
   
 

   background: transparent;

   cursor: pointer;

 }

 .search-bar .clear-button i {

   color: #999; /* Adjust the color of the clear button icon */

 }


 .result {

   display: flex;

   align-items: center;

   padding: 10px;

   cursor: pointer;

   display: flex;

   align-items: center;

 }

 .search-text {

   flex-grow: 1;

   margin-right: 20px;

 }

 .remove-icon {

   cursor: pointer;

   margin-left: 10px;

 }


.search-icon

 {

  position: absolute;

  top: 49%;

  transform: translateY(-50%) scaleX(-1);

  left: 20px;

  cursor: pointer;
 

}

.clear-icon {

  right: 15px;
  position: absolute;
  cursor: pointer;
  transform: translateY(-50%);
  top: 50%; /* Adjust the value to position the clear icon */

}


form {

  display: flex;

  flex-direction: column;

  align-items: center;

}


input {

  margin-bottom: 10px;

  width: 300px;

  padding: 10px;

  font-size: 16px;

}



button {

  padding: 10px 20px;

}


.hidden {

  display: none;

}


.popup-overlay {

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background-color: rgba(241, 224, 224, 0.5);

  z-index: 9999;

  display: none;

}

.popup-content {

  position:relative;

  top: 50%;

  left: 50%;

  transform: translate(-50%, -50%);

  background-color: #f8daa5;

  padding: 20px;

  border-radius: 5px;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}


.popup-overlay.show {

  display: block;

}

.form-buttons {

  margin-top: 10px;

  text-align: right;
  

}

.form-buttons button {
  margin-right: 10px; /* Adjust this value as per your desired spacing */
}



.popup-content {
  display: flex;
  flex-wrap: wrap;
}

.form-fields {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.field-group {
  flex: 0 0 calc(33.33% - 20px); /* Three columns with some spacing in between */
  margin-right: 15px;
  margin-bottom: 15px;
  
  height: 80px; /* Adjust the height as per your preference */
  width: 500px; 
}

.field-group label {
  display: block;
  font-weight: bold;
}

.description-group {
  flex: 0 0 100%; /* Span the full width of the container */
  margin-bottom: 10px;
  
}

.description-group textarea {
  width: 10%; /* Set textarea width to 100% */
  resize: horizontal;
  /* Allow vertical resizing of the textarea */
}
.form-buttons {
  flex: 0 0 100%;
  text-align: right;
  margin-top: 10px;
}



// button {
//   margin-right: 8px;
// }



.empty-jobs-container {
  text-align: center;
  // padding: 20px;
}

.empty-jobs-container h2 {
  font-size: 24px;
}

.post-jobs-button {
  margin-top: 370px;
  padding: 10px 10px;
  background-color: #0e0e0e;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 25px;
  cursor: pointer;
  // margin: 20px;
  margin-bottom: 80px;
}


h1 {
  width: 1905px;
  height: 490px;
  // background: rgb(240, 220, 234);
  display:flex;
  justify-content: center;
  align-items: center;
  transition-property: width;
  transition-duration: 3s;
  transition-timing-function: linear;
  transition-delay: 1s;
  -webkit-text-stroke-color: #999;
  // text-align: center;
 
}

h1:hover {
  width: 300px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin: 0;
   //background-color: #eca1a6; /* Set the background color for the entire page */
  // background-image: url("https://cdn.pixabay.com/photo/2015/11/03/09/01/business-card-1019948_640.jpg");
  // background-size: cover;
  // // background-attachment: fixed;

  // background-repeat: no-repeat;
  // padding: 20px;
 
//  background-size: 1000px;
//  background-position-x: center;

  
}
.form-control {
  text-indent: 25px; /* Adjust the value as needed to move the placeholder */
  border-block: 1px;
}
.empty-jobs-container {
  background-image: url("https://cdn.pixabay.com/photo/2015/11/03/09/01/business-card-1019948_640.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2px;
  background-size: 800px;
  background-position-x: center;
  
}
position-relative{
  width: 30;
}
.field-group textarea {
  height: 79px; /* Adjust the height as per your preference */
  width: 302px; 
}

.buttons{
  background-color: rgb(75, 75, 184);
  color: white;
  border-radius: 4px;
  
  font-size: 20px;
}
