<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>
<body>







  <div class="body">
    <div class="container">
      <table class="table table-success table-striped">
        <thead>
          <tr>
            <th>JOB ID</th>
            <th>COMPANY</th>
            <th>JOB TITLE</th>
            <th>EXPERIENCE</th>
            <th>SKILLS</th>
            <th>JOB TYPE</th>
            <th>LOCATION</th>
            <th>JOB DESCRIPTION</th>
            <th>ACTIONS</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of jobsList | slice:(currentPage - 1) * itemsPerPage:currentPage * itemsPerPage">
            <td>{{ item.jobId }}</td>
            <td>{{ item.companyName }}</td>
            <td>{{ item.jobTitle }}</td>
            <td>{{ item.experience }}</td>
            <td>{{ item.skills }}</td>
            <td>{{ item.jobType }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.jobDescription }}</td>
            <td>

              <button type="button" class="btn btn-light mr-1"

              data-bs-toggle="modal" data-bs-target="#exampleModal"

              (click)="showEditForm(item)"

              data-backdrop="static" data-keyboard="false">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#007bff" class="bi bi-pencil-square" viewBox="0 0 16 16">

          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>

          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>

        </svg>

      </button>

     

      <button type="button" class="btn btn-light mr-1"

      (click)="delete(item.jobId)">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#dc3545" class="bi bi-trash" viewBox="0 0 16 16">

          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>

          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>

                  </svg>

                </button>

            </td>
            
          
         
        </tr>
          <tr *ngIf="jobsList.length === 0">
            <td colspan="6">No jobs found</td>
          </tr>
        
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
         <ul class="pagination justify-content-center">
          <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
            <a class="page-link"  tabindex="-1" (click)="previousPage()">Previous</a>

          </li>
        
          <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
            <a class="page-link" (click)="nextPage()">Next</a>
          </li>
        </ul>
      
        <h5>Page: {{ currentPage }} of {{ totalPages }}</h5> 
     
      </nav>
    </div>
  </div>
  <div id="popup-form" class="popup-overlay" [ngClass]="{ 'show': showEditFormFlag }">
    <div class="popup-content">
    <form (ngSubmit)="onSubmit()">
    <label>JOB ID</label>
    <input type="text" [(ngModel)]="selectedJob.jobId" name="jobId" required>
  
    <label>COMPANY</label>
    <input type="text" [(ngModel)]="selectedJob.companyName" name="companyName" required>
  
    <label>JOB TITLE</label>
    <input type="text" [(ngModel)]="selectedJob.jobTitle" name="jobTitle" required>
  
    <label>EXPERIENCE</label>
    <input type="text" [(ngModel)]="selectedJob.experience" name="experience" required>
  
    <label>SKILLS</label>
    <input type="text" [(ngModel)]="selectedJob.skills" name="skills" required>
  
    <label>JOB TYPE</label>
    <input type="text" [(ngModel)]="selectedJob.jobType" name="jobType" required>
  
    <label>LOCATION</label>
    <input type="text" [(ngModel)]="selectedJob.location" name="location" required>
  
    <label>JOB DESCRIPTION</label>
    <textarea [(ngModel)]="selectedJob.jobDescription" name="jobDescription" required></textarea>
    <div class="form-buttons">
      <button type="submit">Save</button>
      <button type="button" (click)="cancelEditForm()">Cancel</button>
    </div>
  </form>
  </div>
  </div>
</body>




</html> -->




<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
        .jobs-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .job-box {
    width: 280px; /* Set the desired width for each job box */
    height: 400px; /* Set the desired height for each job box */
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
    .job-box h3 {
      margin-top: 0;
    }

    .job-box p {
      margin-bottom: 5px;
    }

    .view-more {
      color: blue;
      cursor: pointer;
      text-decoration: underline;
    }
  </style>
</head>

<body>
 

  <div class="body">
    <div class="container">
<div class="jobs-row">
      <div class="job-box" *ngFor="let item of jobsList | slice:(currentPage - 1) * itemsPerPage:currentPage * itemsPerPage">
        <h3>{{ item.jobTitle }}</h3>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Company: </span> {{ item.companyName }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Experience: </span> {{ item.experience }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Skills: </span>{{ item.skills }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Job Type: </span>{{ item.jobType }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Location: </span>{{ item.location }}</p>
        <p><span style="color: rgb(8, 8, 8); font-weight: 600;">Job Description: </span> {{ item.jobDescription }}</p>
       <p>
        <button type="button" class="btn btn-light mr-1"

        data-bs-toggle="modal" data-bs-target="#exampleModal"

        (click)="showEditForm(item)"

        data-backdrop="static" data-keyboard="false">

  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#007bff" class="bi bi-pencil-square" viewBox="0 0 16 16">

    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>

    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>

  </svg>

</button>



<button type="button" class="btn btn-light mr-1"

(click)="delete(item.jobId)">

  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#dc3545" class="bi bi-trash" viewBox="0 0 16 16">

    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>

    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>

            </svg>

          </button>

       </p>
      </div>
    </div>
    
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item" [ngClass]="{ 'disabled': currentPage === 1 }">
            <a class="page-link" tabindex="-1" (click)="previousPage()">Previous</a>
          </li>
        
          <li class="page-item" [ngClass]="{ 'disabled': currentPage === totalPages }">
            <a class="page-link" (click)="nextPage()">Next</a>
          </li>
        
        </ul>
      
      </nav>
      <h5 class="justify-content-end">Page: {{ currentPage }} of {{ totalPages }}</h5>
    </div>
  </div>
  <div id="popup-form" class="popup-overlay" [ngClass]="{ 'show': showEditFormFlag }">
    <div class="popup-content">
    <form (ngSubmit)="onSubmit()">
    <label>JOB ID</label>
    <input type="text" [(ngModel)]="selectedJob.jobId" name="jobId" required>
  
    <label>COMPANY</label>
    <input type="text" [(ngModel)]="selectedJob.companyName" name="companyName" required>
  
    <label>JOB TITLE</label>
    <input type="text" [(ngModel)]="selectedJob.jobTitle" name="jobTitle" required>
  
    <label>EXPERIENCE</label>
    <input type="text" [(ngModel)]="selectedJob.experience" name="experience" required>
  
    <label>SKILLS</label>
    <input type="text" [(ngModel)]="selectedJob.skills" name="skills" required>
  
    <label>JOB TYPE</label>
    <input type="text" [(ngModel)]="selectedJob.jobType" name="jobType" required>
  
    <label>LOCATION</label>
    <input type="text" [(ngModel)]="selectedJob.location" name="location" required>
  
    <label>JOB DESCRIPTION</label>
    <textarea [(ngModel)]="selectedJob.jobDescription" name="jobDescription" required></textarea>
    <div class="form-buttons">
      <button type="submit">Save</button>
      <button type="button" (click)="cancelEditForm()">Cancel</button>
    </div>
  </form>
  </div>
  </div>
 
</body>

</html>
